{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
      </a>
    </div>
  </div>
</header>
{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

<header class="gem-c-inverse-header gem-c-inverse-header--full-width govuk-!-padding-bottom-8 govuk-!-margin-bottom-8">      
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="gem-c-heading govuk-!-margin-bottom-6">
          <h1 class="gem-c-heading__text govuk-heading-xl">
            Check information in guidance (CIIG)
          </h1>
        </div>
        <p class="gem-c-lead-paragraph govuk-!-margin-bottom-2">
          Check information in guidance to remove duplication and conflicts and ensure it's up to date
        </p>       
      </div>
    </div>
  </div>
</header>
{% endblock %}



{% block scripts %}
    {{ super() }}
    <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}