{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body-l">This is the hub for RSD AI for good prototypes.</p>

    <a href="/manage-prototype/clear-data" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Clear session data
    </a>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-l" id="ai-for-good-sprint-1">
      Sprint 1
    </h2>
    <p>Concept 1:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="sprint-1/concept-1-home.html" class="govuk-link">Homepage</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  </div>
</div>

{% endblock %}
